* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

*:focus {
    outline: none;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	scroll-behavior: smooth;
}

a {
	color: #4267b2;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	width: fit-content;
	margin: auto;
}

h2 {
	font-size: 50px;
	letter-spacing: 5px;
}

h3 {
	font-size: 20px;
}

h3 i {
	cursor: pointer;
	margin-left: 10px;
	color: #979797;
}

h3 i:hover {
	color: #2196f3;
}

table {
	border: 1px solid;
	background-color: #e1e1e1;
}

th, td {
	border: 1px dotted;
}

th {
	background-color: #4267b2;
	color: #fff;
}

td {
	background-color: #fff;
}

header {
	height: 10%;
	background-color: #4267b2;
}

header h1 {
	height: 100%;
    padding: 20px 0;
    margin-left: 20px;
    float: left;
    color: #fff;
}

header img {
	height: 100%;
	display: block;
}

header a {
	color: #fff;
	float: right;
	display: block;
	height: 100%;
	width: 20%;
	min-width: 120px;
	max-width: 250px;
	text-align: center;
	padding: 25px 0;
}

header a:hover {
	background-color: #313131;
}

header .active {
	background-color: #243c6d;
	font-weight: bold;
}

section {
	/*height: 80%;*/
	background-color: #e9ebee;
	border-bottom: solid 0.5px #ccc;
}

section p {
	width: 80%;
    max-width: 600px;
    margin: auto;
    color: #8d8d8d;
    margin-bottom: 30px;
}

footer {
	height: 10%;
	background-color: #4267b2;
}

footer div {
	float: right;
	color: #fff;
	padding-top: 23px;
	padding-right: 20px;
}

footer i {
	color: #000;
	font-size: 30px;
	margin: 20px 0 0 20px;
}

button {
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

button:hover {
	cursor: pointer;
}

::selection {
	background-color: #12afe0;
    color: #fff;
}

#sec-token {
	min-height: 90%;
}

#sec-token h2 {
	padding-top: 100px;
	padding-bottom: 10px;
}

#sec-token h3 {
	margin-bottom: 50px;
}

#sec-token input {
	width: 80%;
	max-width: 600px;
	height: 60px;
	display: block;
	margin: auto;
	border-radius: 10px;
	font-size: 30px;
	padding-left: 10px;
	margin-bottom: 20px;
}

#sec-token button {
	display: block;
	width: 80%;
	max-width: 300px;
	margin: auto;
	height: 60px;
	font-size: 30px;
	border-radius: 10px;
	color: #fff;
	background-color: #4267b2;
	margin-bottom: 20px;
}

#sec-token h4 {
	font-size: 20px;
	margin-bottom: 30px;
	color: #84ba10;
}

#sec-post {
	min-height: 80%;
	background-color: #f0f0f0;
}

#sec-post h2 {
	padding-top: 50px;
	padding-bottom: 10px;
}

#sec-post h3 {
	margin-bottom: 50px;
}

#sec-post div {
	width: 80%;
	max-width: 600px;
	margin: auto;
	display: flex;
}

#sec-post select {
	width: 100%;
	height: 50px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 30px;
	padding-left: 10px;
}

#sec-post button {
	width: 50px;
	background-color: #4267b2;
	color: #fff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-style: hidden;
}

#sec-group {
	min-height: 80%;
}

#sec-group h2 {
	padding-top: 50px;
	padding-bottom: 10px;
}

#sec-group h3 {
	margin-bottom: 50px;
}

#selected-group {
	width: 80%;
	max-width: 700px;
	margin: auto;
	margin-bottom: 50px;
}

#selected-group tr, th {
	height: 40px;
}

#selected-group th:nth-child(2) {
	width: 40px;
}

#selected-group th:nth-child(3) {
	width: 40px;
}

#selected-group td:nth-child(1) {
	padding-left: 10px;
}

#selected-group td:nth-child(2) {
	text-align: center;
}

#selected-group i {
	display: block;
	width: fit-content;
	margin: auto;
	font-size: 30px;
	color: #d82e2e;
}

#sec-group div {
	width: 80%;
	max-width: 600px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

#sec-group input {
	width: 90%;
	height: 50px;
	border: solid 0.5px #ccc;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 30px;
	padding-left: 10px;
}

#sec-group button {
	width: 10%;
	background-color: #4267b2;
	color: #fff;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-style: hidden;
}

#search-bar:focus {
	border-bottom-right-radius: 0;
}

#search-bar:focus {
	border-bottom-left-radius: 0;
}

#search-bar:focus + #all-group-list {
	height: 200px;
}

#sec-group ul {
	width: 100%;
	margin-top: 0;
	margin-bottom: 50px;
	height: 0px;
	overflow: scroll;
	-webkit-transition: height 1s;
    transition: height 1s;
    padding: 0;
}

#sec-group ul li {
	border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    cursor: pointer;
}

#sec-group ul li:hover {
	background-color: #eee;
}

#sec-group input[type="checkbox"] {
	width: 30px;
	height: 30px;
	display: block;
	margin: auto;
}


#sec-execute {
	min-height: 80%;
	background-color: #f0f0f0;
}

#sec-execute h2 {
	padding-top: 50px;
	padding-bottom: 10px;
}

#sec-execute h3 {
	margin-bottom: 50px;
}

#sec-execute button {
	background-color: #4267b2;
	border-style: hidden;
	border-radius: 10px;
	color: #fff;
	width: 80%;
	max-width: 300px;
	height: 60px;
	display: block;
	margin: auto;
	font-size: 30px;
	margin-bottom: 30px;
}

#div-delay {
	width: 80%;
    max-width: 300px;
    margin: auto;
    display: flex;
    font-size: 30px;
    margin-bottom: 20px;
}

#div-delay *:nth-child(1) {
	width: 200px;
} 

#div-delay *:nth-child(2) {
	width: 100%;
	margin-right: 10px;
	text-align: center;
    border-radius: 5px;
    border:1px inset;
}



#cont-process {
	background-color: #e1e1e1;
    height: 50px;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
	margin-bottom: 20px;
}

#process {
	background-color: #b5e26e;
	width: 0%;
	height: 100%;
	border-radius: 10px;
}

.proc-active {
	width: 100%;
	-webkit-transition: width 5s linear;
    transition: width 5s linear;
}

#log {
	font-family: "Courier New", Courier, monospace;
	width: 80%;
    margin: auto;
    display: block;
    height: 200px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 20px;
}






.disable-click {
	pointer-events: none;
}

.hide {
	display: none;
}

button:active {
	background-color: #40598d;
}

.red {
	background-color: #fc6b61 !important;
}

.token-code {
	-webkit-user-select: all;
  	-moz-user-select: all;
  	-ms-user-select: all;
  	user-select: all;
  	display: block;
  	margin: auto;
  	background-color: #fff;
  	padding: 5px;
  	width: 90%;
    height: 36px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 12px;
    font-family: monospace;
    font-style: normal !important;
    overflow: hidden;
    word-break: break-all;
    margin-top: 10px;
    margin-bottom: 15px;
}

.token-code:hover, .token-code:focus, .token-code:focus-within {
	height: fit-content;
}

@media (max-width: 767px) {
	header h1 {
		display: none;
	}
}